<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tango低代码引擎测试</title>
</head>
<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/react-is@17.0.2/umd/react-is.production.min.js"></script>
  <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
  <script src="https://unpkg.com/styled-components@5.3.11/dist/styled-components.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.15.6/babel.js"></script>
  <script src="https://unpkg.com/prettier@2.6.0/standalone.js"></script>
  <script src="https://unpkg.com/prettier@2.6.0/parser-babel.js"></script>
  <script src="https://unpkg.com/antd@4.24.13/dist/antd-with-locales.min.js"></script>
</body>
</html>
